/**
 * Document Grid
 *
 * Creates a three column grid for our icons.
 */

.grid {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
}

svg{
	max-width: 150px; 
	max-height: 150px; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;  
}